input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --eco-header-spacing: 48px;
}

.eco--grid {
  margin-top: var(--eco-header-spacing);
}

.invalid-feedback {
  display: initial;
}
